{% extends 'base.html.twig' %}

{% block body %}


<h1 class="container mt-5 mb-5 d-flex justify-content-center">Add new vehicle</h1>

<div class="container d-flex justify-content-center">
    <div class="form-group w-50 mt-3">
        {{ form(form) }}
    <button class="btn btn-danger"><a class="text-decoration-none text-white" href="/">Cancel</a></button>
    </div>
</div>

{% endblock %}
