{% extends 'base.html.twig' %}

{% block body %}

<h1> hello world, let's be a cliche </h1>

{% for rent in rents %}
    {{ rent.getDeliverer().getName() }} je zaduzio vozilo {{ rent.getVehicle().getBrand() }}<br>
{% endfor %}


{% endblock %}
